<div class="container-fluid" id="container">
  <form class="form-inline">
    
  </form>
    <div class="form-group">
      <form class="form-inline mainForm" name="dates" ng-submit="sendForm()">
        <input class="form-control" type="text" ng-model="startDate" placeholder="2012-01-01">
        <input class="form-control" type="text" ng-model="endDate" placeholder="2012-01-08">
        <input class="form-control" type="text" ng-model="stocks" placeholder="MSFT,CSCO,GE">
        <button type="submit" class="btn btn-success">See</button>
      </form>
      <form class="form-inline search" name="search" ng-submit="getDetail()">
        <input class="form-control" class="searchbox" ng-model="searchText" placeholder="MSFT">
        <button type="submit" class="btn btn-info">Detail</button>
      </form>
    </div>

  </div>

  
  <svg id="svgVisualize" width="1000" height="1000" style="margin:auto auto"></svg>
</div>